:root {
    --card-color-light: rgb(235, 243, 241);
}

.imagen-completa {
    width: 100%;
    height: auto;
}

.imagen-inicio {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -30vh;
    height: 90vh;
}

.grab {
    cursor: grab;
}

.carousel {
    padding-left: 0px;
    padding-right: 0px;
}

.carousel-indicators {
    z-index: 1;
}

.eslogan {
    height: 16vh;
    background-color: rgb(230, 222, 230);
}

.eslogan-text {
    margin-top: auto;
    margin-bottom: auto;
}

.descuento {
    margin-top: auto;
    margin-bottom: auto;
}

.noticias {
    margin: 0;
}

.descuento-izq {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    margin: 0;
}

.descuento-der {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);
    background: linear-gradient(to left, #2c3e50, #bdc3c7);
    margin: 0;
    color: white;
}

.productos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1vw;
}

.card {
    width: 18rem;
}

.info-producto {
    width: 30rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: var(--card-color-light);
}

.card-img-top {
    width: auto;
    height: 15vw;
    object-fit: cover;
}

.card-subtitle {
    align-self: flex-end;
}

.card-img-info {
    height: 50vh;
    object-fit: contain;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

.titulo {
    text-decoration: solid;
    font-size: 1.5rem;
    color: black;
}

.imagen-servicio {
    vertical-align: middle;
    border: 0.1rem solid black;
}

.sobre-mi {
    height: 60px;
    width: 60px;
}

.iconos {
    justify-content: center;
}

.contacto-foto {
    background-image: url(../images/foto3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -30vh;
    height: 25vh;
}

.contacto-abajo {
    height: 55vh;
}

.contacto-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto-form .row {
    height: 33%;
}

.googlemaps {
    padding-top: 2.5vh;
}

.googlemaps>iframe {
    display: block;
    width: 100%;
    height: 50vh;
}

.sobre-mi-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alert {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
}

#cerrarAlert {
    cursor: pointer;
}

html, body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.medio {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.formulario-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(61, 59, 61, 0.8);
    overflow: hidden;
}